{% extends 'base.html' %}
{% block title %}Password reset form{% endblock %}
{% block content %}
<center>
<div class="container-fluid login-form">
    <h2>Restablecer contraseña</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <button type="submit">Enviar correo electrónico</button>
    </form>
{% endblock %}
<center>
    <div class="container-fluid" style="margin-top: 370px;">
        <div class="messagelist">
            {% for message in messages %}
                <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>
</div>
</center>