{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block title %}Modificar Post{% endblock %}
{% block content %}

<center>
{% if user.is_superuser or request.user|has_group:"Colaborador" %}
<div class="container-fluid modificar-post-form" style="margin: 50px;">
        <a style="color: white;background-color: brown; border-radius: 5px; padding-left: 5px; padding-right: 5px;" class="text-uppercase login-button"
        href="{% url 'apps.posts:crear_categoria' %}?next={% url 'apps.posts:post_update' pk=object.id %}">
        Crear nueva categoría</a>
    <br><br>
    <h1>Modificar Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar cambios">
    </form>
</div>
{% else %}
    <div class="container-fluid" style="margin: 300px;">
        <h1>Solo los usuarios con permisos pueden accedder a esta página</h1>
    </div>
{% endif %}
</center>

{% endblock %}